a {
   color: white;
   align-items: flex-start;

}
 .nav-link{
 	align-items: center;
 }
 body {
 	color: grey;
	
}
h4{
	color: black;
} 	

h5{
	color: black;
} 	
h6{
	color: black;
} 
h2
{
	color: white;
	font-weight: 400;
	font-size: 30;
	text-align: center;
}
small{
	color: black;
}

body{
background-image: src("")
}

h3 
{
	font: bold;
	font-size: 30px;
	align-items: center;
	display: flex;
}
.search-bar {
	border-radius: 6px;
}
.form-control-1 {
	display: flex;
	align-items: flex-start;
	text-align: center;
	width: 210;
	border-spacing: 100;
	margin-left: 530;
	margin-bottom: 20;
}
.footer-bar {
    width: 100%;
    max-width: 170px;
    padding: 20px;
    margin: auto;
  }
body{
    margin-top:20px;
    color: #1a202c;
    text-align: left;
    background-color: #e2e8f0;    
}
.main-body {
    padding: 15px;
}
.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin-left: 
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}
.h-100 {
    height: 100%!important;
}
.shadow-none {
    box-shadow: none!important;
}
